*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to right,rgb(246, 246, 63),#19cc4f);
    
}
.head{
    height:40px;
    width: auto;
    margin: 30px 0;
    background-color: black;
    color: aliceblue;
    font-family:'Alkatra' , cursive;
    text-align: center;
}

.container1{
position: relative;
max-width: 800px;
margin: 0 auto;
align-items:right;
display: flex;
right:160px;
}

.container2{
position: relative;
max-width: 800px;
margin: 0 auto;
align-items:right;
display: flex;
right:160px;
    }


.container1 img {
  max-width: 500px;
  height: auto;
  display: block;
  float:right; /* Align the image to the right */

  }
.container2 img{
    max-width: 500px;
    height: 400px;
    display: block;
    float:left; /* Align the image to the left */
  
}

 .text{
position: absolute;
bottom:auto;
 background-color: black;
 color: white;
 padding-left: 20px;
 padding-right: 20px;
 position: absolute;
bottom:0px;
right: -260px;/*change all*/
top:10px;
background: rgb(0, 0, 0); /* Fallback color */
background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
color: #f1f1f1;
width: 60%;
padding: 20px;
}
.text1{
  position: absolute;
  bottom:auto;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  bottom:0px;
  right: -280px;/*change all*/
  top:10px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 80%;
  padding: 20px;
}


.text2{
  position: absolute;
  bottom:auto;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  bottom:0px;
  right: -280px;/*change all*/
  top:10px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 60%;
  padding: 20px;
        
}
.text3{
  position: absolute;
  bottom:auto;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  bottom:0px;
  right: -310px;/*change all*/
  top:10px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 70%;
  padding: 20px;
}
.text4{
  position: absolute;
  bottom:auto;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  bottom:0px;
  right: -360px;/*change all*/
  top:10px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 75%;
  padding: 20px;
}

.top {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
  text-align: center;
}
.top span {
  font-family: 'Alfa Slab One', cursive;
  
  position: relative;
  display: inline-block;
  color: #111010;
  text-transform: uppercase;
  animation: top 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes top {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}


 